<footer>
    <div class="standard_container">
        <div class="footer_wrapper">
            <div class="footer_box footer-left">
                <img class="footer_logo" src="./assets/images/main-logo.svg">
                <p>Our team has been bringing festive, professional Christmas light installations to the community, creating personalized holiday displays that brighten homes and spread seasonal joy.</p>
            </div>
            <div class="footer_box footer-main">
                <div class="footer_links">
                    <div class="heading">Services</div>
                    <ul>
                        <li><a href="residential-christmas-light-installation.html">Residential Christmas Light Installation</a></li>
                        <li><a href="commercial-christmas-light-installation.html">Commercial Christmas Light Installation</a></li>
                        <li><a href="permanent-christmas-light-installation.html">Permanent Christmas Light Installation</a></li>
                    </ul>
                </div>
                <div class="footer_links mt-5">
                    <div class="heading">Schedule Your Appointment</div>
                    <ul>
                        <li>
                            <a href="#" onclick="window.location.href='tel:+17043182857'">
                                (704) 318-2857
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_box footer-service">
                <div class="footer_links">
                    <div class="heading">Service Areas</div>
                    <ul>
                        <li><a href="east-over.html">Eastover</a></li>
                        <li><a href="university-city-NC.html">University City NC</a></li>
                        <li><a href="steele-creek-NC.html">Steele Creek NC</a></li>
                        <li><a href="Ballantyne-NC.html">Ballantyne NC</a></li>
                        <li><a href="south-park-NC.html">SouthPark NC</a></li>
                        <li><a href="pyers-park-NC.html">Myers Park</a></li>
                        <li><a href="piper-glen-NC">Piper Gien</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_box footer-right">
                <p>Locate us at:</p>
                <div class="w-embed w-iframe">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.1115348104663!2d-118.13675422368024!3d34.143488512905705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c35ded22c5c3%3A0x87695fb78dfe792c!2sLeslie%20Carpenter%20DDS%20-%20Family%20Dentist!5e0!3m2!1sen!2s!4v1743917774478!5m2!1sen!2s"
                        width="432" height="236" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div class="footer-divider"></div>
        <div class="copyright-footer-socials">
            <div class="footer-copyright-center">© 2025 Christmas Light Installation. All rights reserved.</div>
            <div class="policies-link">
                <a href="privacy-policy.html">Privacy Policy</a>
                <a href="terms-and-condition.html">Terms and Conditions</a>
            </div>
            <div class="footer-socials">
                <a href="https://x.com/lesliecarpent15" class="x w-inline-block"><img loading="lazy"
                        src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab0182f_x.svg"
                        alt=""></a>
                <a href="https://www.linkedin.com/in/leslie-carpenter-0a000040/" class="linked-in w-inline-block"><img
                        loading="lazy"
                        src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab0182e_linkedin.svg"
                        alt=""></a>
                <a href="#" class="fb w-inline-block"><img loading="lazy"
                        src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab01830_fb.svg"
                        alt=""></a>
            </div>
        </div>
    </div>
</footer>